*, *:before, *:after
{
	box-sizing: border-box;
}

h1
{
	font-size: 2em;
	margin-bottom: 50px;
	//margin: 5px 5px 50px 5px; 
	padding: 15px;
	border: 2px solid black;
	border-left: 0;
	border-right: 0;
	border-color: white;
	color: #353535;
}

body
{
	font-size: 16px;
	color: #fff; /*Font-color*/
	background-color: #353535; //#C6D8FF; /*whole-background*/
	font-family: 'Oxygen', sans-serif;
}

header
{
	background-color: #D2D7DF;
	height: 130px;
}


a, a:hover
{
	text-decoration: none;
	color: black;
}

.navbar-rest:hover
{
	background-color: white;
	border-radius: 20px;
	padding-bottom: 0;
	padding-top: 0;
	color: black;
	cursor: pointer;
}
/*-------------------------------- Main Content - Topics --------------------*/
.topics
{
	text-align: center;
	margin-top: 70px;
	font-size: 3em;
}
.topics-sub
{
	margin-bottom: 40px;
}

.cards
{
	position: relative;
	margin: 0 auto 15px;
	overflow: hidden;
	//background-color: red;
	//border: 1px solid black;
	padding: 10px;
	text-align: center;

}
.row img
{
	//border: 1px solid black;
	border-radius: 35px;
}
.row img:hover
{
	box-shadow: 0 1px 10px 5px #cccccc;
}

/*-------------------------------- Footer ----------------------------------*/
footer
{
	//position: relative;
	border-top: 5px solid black;
	border-radius: 10px;
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	line-height: 25px;
	//background-color: ;
}
footer a
{
	color: white;
}

.highlight
{
	font-size: 1.15em;
	font-weight: bold;
}

.copyright
{
	margin-top: 10px;
	text-align: center;
}

/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/* Large screens */
@media (min-width: 1200px)
{
/*	.cards
	{
		margin-top: 20px;
		//background-color: red;
		padding: 20px;
	}
	.row img
	{
		//border: 1px solid black;
		border-radius: 35px;
	}
	.row img:hover
	{
		box-shadow: 0 1px 5px 2px #cccccc;
	}*/
	.jumbotron
	{
		//background-image: url('../images/greg-rakozy-0LU4vO5iFpM-unsplash (2).jpg');
		//height: 675px;
		//border: 2px solid #353535;
	}
	/*.container-fluid
	{
		height: 100px;
	}*/
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.navbar-rest
	{
		padding: 20px;
		font-size: 1.25em;
		color: #353535;
	}
}

/* Medium screens */
@media (min-width: 992px) and (max-width: 1199px)
{
	/*.container-fluid
	{
		height: 120px;
	}*/
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.navbar-rest
	{
		padding: 20px;
		font-size: 1.25em;
		color: #353535;
	}
}

/* Small screens */
@media (min-width: 768px) and (max-width: 991px)
{
	.quote
	{
		font-family: serif;
		font-size: 1.25em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	/*.container-fluid
	{
		height: 100px;
	}*/
	.navigate
	{
		margin-bottom: 50px;
	}
	.jumbotron
	{
		box-shadow: 0 0 50px #D2D7DF;
		//margin-top: px;
	}
	.navbar-rest
	{
		display: none;
	}
}

/* Extra small screens */
@media (max-width: 767px)
{
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	/*.container-fluid
	{
		height: 100px;
	}*/
	.navbar-rest
	{
		display: none;
	}
	.navigate
	{
		margin-bottom: 50px;
		margin-right: 20px;
	}
	h1
	{
		margin-left: 10px;
		margin-bottom: 70px;
	}
}

@media (min-width: 200px) and (max-width: 766px)
{
	.jumbotron
	{
		margin-top: 500px;
	}
	/*.container-fluid
	{
		background-color: red;
		height: 80px;
	}*/
	h1
	{
		font-size: 1em;
		line-height: 10px;
		margin-top: 20px;
		//margin-bottom: 120px;
	}
	#logo-img
	{
		background: url('../images/logo-xs3.png') no-repeat;
		width: 45px;
		height: 45px;
	}
	.navigate
	{
		line-height: 15px;
	}
	.jumbotron
	{
		box-shadow: 0 0 50px #D2D7DF;
		margin-top: 25px;
	}
}

/*====================== Tweaks and Customs ======================*/
@media (max-width: 595px)
{
	.custom-xs-4
	{
		width: 33.33333333333333%;
	}

	.cards
	{
		position: relative;
		//margin: 0 auto 15px;
		overflow: hidden;
		//background-color: red;
		//border: 1px solid black;
		padding: 10px;
		text-align: center;

	}
	.row img:hover
	{
		box-shadow: 0 1px 10px 2px #cccccc;
	}

	img
	{
		width: 150px;
		height: 150px;
	}

	footer
	{
		//background-color: red;
		text-align: center;
	}
	hr
	{
		border: 2px solid black;
		/*width: 50%;*/
	}
	footer section
	{
		margin-bottom: 30px;
	}
}

@media (max-width: 575px)
{
	.custom-xs-4
	{
		width: 33.33333333333333%;
	}

	.cards
	{
		position: relative;
		//margin: 0 auto 15px;
		overflow: hidden;
		//background-color: red;
		//border: 1px solid black;
		padding: 10px;
		//text-align: center;
	}
}

@media (max-width: 305px)
{
	.custom-xxs-12
	{
		width: 100%;
	}
}