*, *:before, *:after
{
	box-sizing: border-box;
}

h1
{
	font-size: 2em;
	margin-bottom: 50px;
	//margin: 5px 5px 50px 5px; 
	padding: 15px;
	border: 2px solid black;
	border-left: 0;
	border-right: 0;
	border-color: white;
	color: #353535;
}

body
{
	font-size: 16px;
	color: #fff; /*Font-color*/
	background-color: #353535; //#C6D8FF; /*whole-background*/
	font-family: 'Oxygen', sans-serif;
}

header
{
	background-color: #D2D7DF;
}


a, a:hover
{
	text-decoration: none;
	color: black;
}

.navbar-rest:hover
{
	background-color: white;
	border-radius: 20px;
	padding-bottom: 0;
	padding-top: 0;
	color: black;
	cursor: pointer;
}
.navbar-brand:hover
{
	color: 
}


/* Large screens */
@media (min-width: 1200px)
{
	.container-fluid
	{
		height: 100px;
	}
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.navbar-rest
	{
		padding: 20px;
		font-size: 1.25em;
		color: #353535;
	}
}

/* Medium screens */
@media (min-width: 992px) and (max-width: 1199px)
{
	.container-fluid
	{
		height: 120px;
	}
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.navbar-rest
	{
		padding: 20px;
		font-size: 1.25em;
		color: #353535;
	}
}

/* Small screens */
@media (min-width: 768px) and (max-width: 991px)
{
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.container-fluid
	{
		height: 100px;
	}
	.navigate
	{
		margin-bottom: 50px;
	}
}

/* Extra small screens */
@media (max-width: 767px)
{
	#logo-img
	{
		background: url('../images/logoImgR.png') no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 15px 10px 0;
		border-radius: 100px;
	}
	.container-fluid
	{
		height: 100px;
	}
	.navbar-rest
	{
		display: none;
	}
	.navigate
	{
		margin-bottom: 50px;
		margin-right: 20px;
	}
	h1
	{
		margin-left: 10px;
		margin-bottom: 70px;
	}
}

@media (min-width: 200px) and (max-width: 510px)
{
	.container-fluid
	{
		//background-color: red;
	}
	h1
	{
		font-size: 1em;
		line-height: 10px;
		margin-bottom: 120px;
	}
	#logo-img
	{
		display: none;
	}
	.navigate
	{

	}
}


/*------------------------------------------
.container
{
	background-color: blue;
}
.navbar
{
	background-color: red;
}
.navbar-default
{
	background-color: pink;
}
/*------------------------------------------*/